<!DOCTYPE html>
<html>
<head>
    <base href="<%=basePath%>">
    <meta charset="UTF-8">
    <title></title>
    <link href="assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<script charset="utf-8" src="assets/plugins/jquery/jquery-1.11.1.js" type="text/javascript"></script>
<script charset="utf-8" src="assets/plugins/bootstrap/js/bootstrap.js" type="text/javascript"></script>
<script charset="utf-8" src="" type="text/javascript"></script>
</body>
</html>